body {
  margin: 0;
  background-color: #141414;
  
}
#root {
  width: 100%;
}
html, body, #root {
  height: 100%;
}

.movie-card {
  position: relative;
  width: 200px;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  display: block;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  overflow-y: auto;
}


.movie-card:hover .overlay {
  opacity: 1;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* NAVBAR */
.navbar {
  background-color: #141414;
  color: white;
  height: 70px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #e50914;
  letter-spacing: 1px;
}

/* SEARCH */
.navbar form {
  display: flex;
  gap: 10px;
}

.navbar input {
  background: #333;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
}

.navbar input::placeholder {
  color: #bbb;
}

.navbar button {
  background: #e50914;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.navbar button:hover {
  background: #f40612;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding:  0 40px;
}

.container {
  margin-top : 20px;
}

